RewriteEngine On
RewriteBase /

RewriteRule ^nurse/(.*)?$ nurse/index.php?page=$1 [L,QSA]
RewriteRule ^doctor/(.*)?$ doctor/index.php?page=$1 [L,QSA]
RewriteRule ^admin/(.*)?$ admin/index.php?page=$1 [L,QSA]